<header>
  <nav id="site-navbar">
    <a class="site-logo" href="/">Receitas de Casal</a>
    <div class="site-mobile-menu">
      <div class="site-line1"></div>
      <div class="site-line2"></div>
      <div class="site-line3"></div>
    </div>
    <ul class="site-nav-list">
      <li><a href="receitas">Receitas</a></li>
      <li><a href="categorias">Categorias</a></li>
      <li><a href="categorias">Favoritos</a></li>
      <!-- <li><a href="/">Sobre</a></li>
      <li><a href="/">Contato</a></li> -->
      <li><a style="margin-left: 30px;" href="{{ loggedIn ? (admin ? '/admin' : '/perfil') : '/auth/login' }}">{{ loggedIn ? (admin ? 'Dashboard' : 'Perfil') : 'Login/Registrar' }}</a></li>
      <li *ngIf="loggedIn"><a href="" style="margin-left: 30px;" (click)="logout()">Sair</a></li>
    </ul>
  </nav>
</header>