<div id="site-body">
  <app-site-header></app-site-header>
  <section id="site-recipe-details" class="container site-section">
    <!-- Receipe Slider -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="site-recipe-photo">
            <img src="assets/site-template/img/1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Receipe Content Area -->
    <div class="site-recipe-content-area">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="site-recipe-headline my-5">
              <span><!-- April 05, 2018 --> {{ createdAt }}</span>
              <h2>{{ recipeData.title }}</h2>
              <div class="site-recipe-duration">
                <h6 id="prep-time">Tempo de Preparo: {{ recipeData.preparationTime }}</h6>
                <h6 id="difficulty">Dificuldade: {{ difficultyMapped }}</h6>
                <h6 id="serving">Porções: {{ recipeData.servings }}</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-8">
            <h4>Modo de Preparo</h4>
            <br />
            <div [innerHTML]=recipeData.preparationSteps></div>
            <!-- Single Preparation Step -->
            <!-- <ng-container *ngFor="let step of recipeData.preparationSteps, let i = index">
              <div class="site-single-preparation-step d-flex">
                <h4>{{ ('0' + (i + 1)).slice(-2) }}.</h4>
                <p>
                  {{ step }}
                </p>
              </div>
            </ng-container> -->
          </div>

          <!-- Ingredients -->
          <div class="col-12 col-lg-4">
            <div class="site-ingredients">
              <h4>Ingredientes</h4>
              <div [innerHTML]=recipeData.ingredients></div>
              <!-- <ng-container *ngFor="let ingredient of recipeData?.ingredients?.ingredients | keyvalue">
                <ng-container *ngIf="ingredient.value">
                  <h5>{{ ingredient.key }}</h5>
                  <div *ngFor="let item of ingredient.value" class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{ item }}" />
                    <label class="form-check-label" [for]="item">{{ item }}</label>
                  </div>
                </ng-container>
              </ng-container> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
