<div id="site-body">
  <app-site-header></app-site-header>
  <section id="site-recipe-details" class="site-container site-section">
    <!-- Receipe Content Area -->
    <div class="site-recipe-content-area">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="site-recipe-headline mt-2 mb-5">
              <span><!-- April 05, 2018 --> {{ createdAt }}</span>
              <h2>{{ recipeData.title }}</h2>
              <div class="fav-icon" (click)="onFavorite()"><i [ngClass]="isFavorite ? 'bi bi-heart-fill' : 'bi bi-heart'"></i> {{isFavorite ? "Desfavoritar" : "Favoritar"}} Receita</div>
              <div class="site-recipe-duration">
                <h6 id="prep-time">Tempo de Preparo: {{ recipeData.preparationTime }}</h6>
                <h6 id="difficulty">Dificuldade: {{ difficultyMapped }}</h6>
                <h6 id="serving">Porções: {{ recipeData.servings }}</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="site-recipe-photo">
              <img src="{{getImageUrl(recipeData.coverImage.file)}}" alt="" class="img-cover"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-8">
            <h4>Modo de Preparo</h4>
            <br />
            <div class="editor-style editor-style-prep-steps">
              <div [innerHTML]=recipeData.preparationSteps></div>
            </div>
          </div>

          <!-- Ingredients -->
          <div class="col-12 col-lg-4">
            <div class="site-ingredients">
              <h4>Ingredientes</h4>
              <div class="editor-style editor-style-ingredients">
                <div [innerHTML]=recipeData.ingredients></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
