<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{pageTitle}}</h1>
    <nav>
      <ol class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/receitas">Receitas</a></li>
          <li class="breadcrumb-item active">{{pageTitle}}</li>
        </ol>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="modal-body container-sm">
                            <form class="row g-3 w-100">
                                <input type="hidden" name="id" [(ngModel)]="recipeId">
                                <div class="col-md-12">
                                    <label for="Title" class="form-label">Título*</label>
                                    <input
                                    type="text"
                                    class="form-control"
                                    name="Title"
                                    id="Title"
                                    [(ngModel)]="recipe.title" 
                                    />
                                </div>
                                <div class="col-3">
                                    <label for="Category" class="form-label">Categoria*</label>
                                    <select name="Category" id="Category" class="form-select" [(ngModel)]="recipe.categoryId">
                                      <!-- <option>Selecione uma Categoria</option> -->
                                      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                                  
                                <div class="col-md-3">
                                    <label for="Difficulty" class="form-label">Dificuldade*</label>
                                    <select name="Difficulty" id="Difficulty" class="form-select" [(ngModel)]="recipe.difficulty">
                                        <!-- <option selected disabled>Selecione uma Dificuldade</option> -->
                                        <option *ngFor="let difficulty of difficulties" [value]="difficulty.id">{{ difficulty.nome }}</option>
                                      </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="PrepTime" class="form-label">Tempo de Preparo*</label>
                                    <input
                                    type="text"
                                    class="form-control"
                                    name="PrepTime"
                                    id="PrepTime"
                                    [(ngModel)]="recipe.preparationTime"
                                    />
                                </div>
                                <div class="col-md-3">
                                    <label for="Servings" class="form-label">Porções*</label>
                                    <input
                                    type="text"
                                    class="form-control"
                                    name="Servings"
                                    id="Servings"
                                    [(ngModel)]="recipe.servings"
                                    />
                                </div>
                                <div class="col-md-8">
                                    <label for="preparationSteps" class="form-label"
                                    >Modo de Preparo</label
                                    >
                                    <editor 
                                        apiKey="{{ tinyApi }}"
                                        [init]="
                                            {
                                                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat'
                                            }"
                                        
                                        name="preparationSteps"
                                        [(ngModel)]="recipe.preparationSteps"
                                    ></editor>
                                </div>
                                <div class="col-md-4">
                                    <label for="ingredients" class="form-label"
                                    >Ingredientes</label>
                                    <editor
                                        apiKey="{{ tinyApi }}"
                                        [init]="
                                            {
                                                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat'
                                            }"
                                        
                                        name="ingredients"
                                        [(ngModel)]="recipe.ingredients"
                                    ></editor>
                                </div>
                                <div class="col-md-12">
                                    <a
                                    href="admin/receitas"
                                    class="btn btn-secondary me-2"
                                    >
                                    Cancelar
                                    </a>
                                    <button type="button" class="btn btn-success" (click)="saveRecipe()">
                                    Salvar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</main>
