<div id="site-body">
    <app-site-header></app-site-header>
    <section id="site-recipes" class="site-container site-section">
        <form>
            <input type="text" placeholder="Pesquisar receita..." [(ngModel)]="search" name="search"  (keyup.enter)="onSearch()"/>
            <span name="search"></span>
        </form>
      <h2>{{ title }}</h2>
      <div id="site-recipe-container" class="site-card-container">
        <div *ngIf="showNoRecipesMessage && !(recipes$ | async)?.length">
          Nenhuma receita encontrada.
        </div>
        <div class="site-card" *ngFor="let recipe of recipes$ | async">
            <img src="{{getImageUrl(recipe.coverImage.file)}}" alt="" />
            <div class="site-card-content">
                <p>{{ recipe.title.length > 60 ? (recipe.title | slice:0:60) + '...' : recipe.title }}</p>
            </div>
            <button  class="site-card-btn" (click)="getRecipe(recipe)">Ver mais</button>
        </div>
      </div>
    </section>
  </div>
