<main id="main" class="main">
    <div class="pagetitle">
       <h1>Categorias</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item active">Categorias</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-header d-flex justify-content-between mx-1">
                    <input type="select" class="w-25 form-control my-3" placeholder="Pesquisar...">
                    <button type="button" class="btn btn-success my-3" (click)="onCategory()" data-bs-toggle="modal" data-bs-target="#ModalSaveCategory">Adicionar Categoria</button>
                </div>
               <div class="card-body my-4">
                  <table class="table table-borderless datatable">
                     <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Relacionadas</th>
                            <th scope="col">Data de Criação</th>
                            <th scope="col">Ações</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let category of categories$ | async, let i = index">
                           <th scope="row"><a href="#">#{{ ('0' + (i + 1)).slice(-2) }}</a></th>
                           <td>{{ category.name }}</td>
                           <td><a href="#" class="text-primary">Ver Todas</a></td>
                           <td>01/02/2023</td>
                           <td>
                                <a href="#" (click)="onCategory(category.id)" data-bs-toggle="modal" data-bs-target="#ModalSaveCategory">Edit</a>
                                || 
                                <a href="#" (click)="onCategory(category.id)" data-bs-toggle="modal" data-bs-target="#ModalDeleteCategory">Delete</a>
                            </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
    </section>
 </main>
 <!-- Add - Modal -->
<div class="modal fade" id="ModalSaveCategory" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ModalSaveCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSaveCategoryLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearCategoryFields()"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <input type="hidden" name="id" [(ngModel)]="categoryId">
                    <div class="col-md-12">
                        <label for="name" class="form-label">Nome*</label>
                        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="categorySave.name">
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal" (click)="clearCategoryFields()">Fechar</button>
                        <button type="button" [ngClass]="categoryId ? 'btn btn-primary' : 'btn btn-success'" (click)="saveCategory()" data-bs-dismiss="modal">{{ categoryId ? 'Atualizar' : 'Salvar' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add - Modal End -->
<!-- Delete - Modal Start -->
<div class="modal fade" id="ModalDeleteCategory" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ModalDeleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalDeleteCategoryLabel">Deletar Categoria: {{ categorySave.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearCategoryFields()"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal" (click)="clearCategoryFields()">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="deleteCategory(categoryId)" data-bs-dismiss="modal">Deletar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete - Modal End -->