<div id="site-body">
  <header>
    <nav id="site-navbar">
      <a class="site-logo" href="/">Receitas de Casal</a>
      <div class="site-mobile-menu">
        <div class="site-line1"></div>
        <div class="site-line2"></div>
        <div class="site-line3"></div>
      </div>
      <ul class="site-nav-list">
        <li><a href="index.html">Início</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main id="site-search-recipe">
    <h1 class="site-brand">Receitas de Casal</h1>
    <form>
      <input type="text" placeholder="Pesquisar receita..." />
      <span name="search"></span>
    </form>
  </main>
  <hr />
  <section id="site-recipes" class="site-container site-section">
    <h2>Últimas Receitas</h2>
    <div id="site-recipe-container" class="site-card-container">
      <div class="site-card">
        <img src="../../../../assets/site-template/img/1.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 001</h3>
          <a href="post-details.html" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="" alt="" />
        <div class="site-card-content">
          <h3>Receita 002</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="img/bg.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 003</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="img/bg.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 003</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="img/bg.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 003</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="img/bg.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 003</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
      <div class="site-card">
        <img src="img/bg.jpg" alt="" />
        <div class="site-card-content">
          <h3>Receita 003</h3>
          <a href="#ver mais" class="site-card-btn">Ver mais</a>
        </div>
      </div>
    </div>
  </section>
</div>
