/* responsive.css */
@media (max-width: 999px) {
  #site-body {
    overflow-x: hidden;
    position: relative;
  }
}

@media only screen and (max-width: 767px) {
  .site-recipe-headline h2 {
      font-size: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-ingredients {
    margin-bottom: 80px; } }
@media only screen and (max-width: 767px) {
  .site-ingredients {
    margin-bottom: 80px; } }