/* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} */
#site-body,
#site-body header,
#site-body input,
#site-body main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif !important;
    overflow-x: hidden;
    color: #fff;
    background-color: #1A1A1B;
}

#site-body h1,
#site-body h2,
#site-body h3,
#site-body h4,
#site-body h5 {
    font-family: sans-serif !important;
    font-weight: bold !important;
}

.site-section {
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
}

.site-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Search Recipe Section */
#site-search-recipe {
    background-color: #1A1A1B;
    width: 100%;
    padding: 100px 0 !important;
    height: 50vh;
}

#site-search-recipe .site-brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
}

#site-search-recipe form {
    width: 90%;
    height: 50px;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
}

#site-search-recipe input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 223, 223);
    color: #1A1A1B;
    display: inline-block;
}

#site-search-recipe form span {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
}

/* Recipe Section */
#site-recipes h2 {
    color: #fff;
    margin: 20px 50px;
}

#site-recipes .site-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 100px; */
}

#site-recipes .site-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    background-color: #1A1A1B;
    border: 1px solid #757575;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
    margin: 20px;
}

#site-recipes .site-card img {
    width: 100%;
    height: auto;
}

#site-recipes .site-card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 1;
    align-items: center;
}

#site-recipes .site-card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: #fff;
}

#site-recipes .site-card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

#site-recipes .site-card-content .site-card-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

#site-recipes .site-card-content .site-card-btn:hover {
    background-color: #444;
}

/* Post-Details */
.site-recipe-headline span {
    font-size: 14px;
    display: block;
    color: #a4a4a4;
    margin-bottom: 0;
}

.site-recipe-headline h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
}

.site-recipe-headline .site-recipe-duration {
    border-left: 3px solid #40ba37;
    padding: 15px;
}

.site-recipe-headline .site-recipe-duration h6 {
    font-size: 15px;
    margin-bottom: 5px;
}

.site-recipe-headline .site-recipe-duration h6:last-child {
    margin-bottom: 0;
}

.editor-style h4 {
    color: #fff;
    margin-bottom: 30px;
}

.editor-style h5 {
    margin-left: 15px;
    margin-bottom: 20px;
}

.editor-style-prep-steps ol {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 0;
}

.editor-style-prep-steps li {
    counter-increment: my-counter;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.editor-style-prep-steps li::before {
    content: counter(my-counter)'.';
    display: inline-block;
    color: #fff;
    width: 24px;
    font-size: 24px;
    margin-right: 8px;
    text-align: right;
}

.editor-style-ingredients ol {
    list-style: none;
    padding-left: 0;
}

.editor-style-ingredients li {
    list-style: none;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.editor-style-ingredients li::before {
    content: "\2022";
    display: inline-block;
    color: #fff;
    width: 24px;
    font-size: 24px;
    margin-right: 8px;
    text-align: right;
}

.site-ingredients .form-check-label {
    margin-bottom: 0;
    margin-left: 10px;
    /* padding-top: 3px; */
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.site-ingredients .form-check-label:hover {
    color: #40ba37;
}

.site-ingredients .form-check {
    padding-left: 2.5rem;
    margin-bottom: 30px;
    min-height: 35px;
}

.site-ingredients .form-check .form-check-input {
    width: 20px;
    height: 20px;
    background-color: #f3f5f8 !important;
    border-radius: 0;
    cursor: pointer;
}

.site-ingredients .form-check .form-check-input:focus,
.site-ingredients .form-check .form-check-input:active {
    outline: none !important;
    box-shadow: none !important;
}

.site-ingredients .form-check .form-check-input:checked {
    background-color: #40ba37 !important;
    border: none;
}