:root {
    --white: #fff;
    --light-beige: #f6e4da;
    --dark-beige: #d3bcaf;
    --yellow: #dca652;
    --orange: #e2954d;
    --light-brown: #9b5a45;
    --dark-brown: #5e3c2c;
}

/* navbar.css */
#site-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif !important;
    background: var(--light-brown);
    height: 8vh;
    width: 100%;
}

#site-navbar a {
    color: var(--light-beige);
    text-decoration: none;
    transition: 0.3s;
}

#site-navbar a:hover {
    opacity: 0.7;
    color: var(--);
}

#site-navbar .site-logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#site-navbar .site-nav-list {
    list-style: none;
    display: flex;
}

#site-navbar .site-nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: 10px;
}

#site-navbar .site-mobile-menu {
    display: none;
    cursor: pointer;
}

#site-navbar .site-mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--white);
    margin: 8px;
    transition: 0.3s;
}

#site-navbar .site-nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#site-navbar .site-mobile-menu.active .site-line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

#site-navbar .site-mobile-menu.active .site-line2 {
    opacity: 0;
}

#site-navbar .site-mobile-menu.active .site-line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}