<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
         <!-- <li class="nav-item"> <a class="nav-link " routerLink="/admin/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li> -->
         <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/receitas"> <i class="bi bi-journal-text"></i> <span>Receitas</span> </a></li>
         <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/categorias"> <i class="bi bi-tag"></i><span>Categorias</span> </a></li>
         <!-- <li class="nav-heading">Suporte</li>
         <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/faq"> <i class="bi bi-question-circle"></i> <span>F.A.Q</span> </a></li>
         <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/contato"> <i class="bi bi-envelope"></i> <span>Contato</span> </a></li> -->
      </ul>
 </aside>